<ion-content padding>
    <div class="full-height-column">
        <div>
            <img *ngIf="leftImageData" [src]="leftImageData">
            <button *ngIf="!leftImageData" (click)="takeLeftPicture()" ion-button>
                <ion-icon class="editor-icon" ios="ios-camera" md="md-camera"></ion-icon>
            </button>
        </div>
        <div>
            <img *ngIf="rightImageData" [src]="rightImageData">
            <button *ngIf="!rightImageData" (click)="takeRightPicture()" ion-button>
                <ion-icon class="editor-icon" ios="ios-camera" md="md-camera"></ion-icon>
            </button>
        </div>
    </div>
</ion-content>
